<div class="col-lg-5 d-flex align-items-end" id="bg-block" style="background: url('/assets/img/sideImg/{{ data.sideImg.filename }}') {{ data.sideImg.position }};">
    <p class="ml-auto small text-dark mb-2"><em>Image de </em><a class="text-dark" href="{{ data.sideImg.link }}" target="_blank"><em>{{ data.sideImg.anime }}</em></a><br></p>
</div>