<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Adamina">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/line-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body style="background: rgb(255,255,255);">
    <div class="container" style="margin-top: 48px;background: url('/assets/img/bg/bg_2.jpg');border-radius: 21px;border: 1px solid rgb(55,55,55) ;">
        <div class="row text-center justify-content-center align-items-center">
            <div class="col">
                <h1 class="text-center text-black-50" style="font-family: Lora, serif;font-size: 34px;margin-top: 27px;">Alors, on a oublié ?</h1>
                <hr><img class="border rounded-circle border-dark shadow" style="text-align: center;width: 141px;background: url('/assets/img/bg/bg.jpg') left / auto repeat-x;" src="/assets/img/email/icon.png">
                <p style="margin-top: 17px;">Si vous recevez ce mail, c'est que vous avez signalé avoir oublié votre<br>Mot de passe sur Wibuu ... Bah dommage.<br>Mais tranquille ! Tu peux cliquer sur ce bouton, <strong>valable seulement {{ tokenLifetime|date('g') }} heures</strong> pour changer<br>ton mot
                    de passe !</p><a class="btn btn-danger shadow" role="button" style="width: 305px;height: 51px;margin-top: -1px;margin-bottom: 16px;padding-top: 15px;border-style: solid;border-color: rgb(255,111,111);border-radius: 27px;opacity: 0.81;"
                    target="_blank" href="{{ url('app_reset_password', {token: resetToken.token}) }}">Changer son mot de passe</a></div>
        </div>
    </div>
</body>

</html>