<div class="row">
    <div class="col">
        <p class="text-secondary"><a href="" class="noStyleLink">À propos</a> • <a href="" class="noStyleLink">Aide</a> • <a href="" class="noStyleLink">API</a> • <a href="" class="noStyleLink">Conditions</a>
            <br><br>
            © 2020 WIBUU<br>
        </p>
    </div>
</div>