<div class="modal fade" role="dialog" tabindex="-1" style="opacity: 0.90;">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p class="text-center text-danger" style="font-size: 18px;"><strong>Signaler</strong></p>
                <hr class="d-xl-flex align-items-xl-center" style="color: rgb(22,215,119);background-color: #a9a9a9;border-width: 2px;text-align: center;">

                <p class="text-center text-danger" style="font-size: 18px;"><strong>Se désabonner</strong></p>
                <hr style="color: rgb(22,215,119);background-color: #a9a9a9;border-width: 2px;">

                <p class="text-center" style="font-size: 18px;"><strong>Voir la publication</strong></p>
                <hr style="color: rgb(22,215,119);background-color: #a9a9a9;border-width: 2px;">

                <p class="text-center" style="font-size: 18px;"><strong>Copier le lien</strong></p>
                <hr style="color: rgb(22,215,119);background-color: #a9a9a9;border-width: 2px;">
                
                <p class="text-center" style="font-size: 18px;"><strong>Annuler</strong></p>
            </div>
        </div>
    </div>
</div>