<div class="row justify-content-center">
    <div class="col-8 col-sm-10 col-md-4 col-xl-4">
        <form method="get" action="/search">
            <div class="form-group" data-bs-hover-animate="pulse">
            <input class="form-control form-control-sm searchbar" type="text" value="{{ searchbar.value }}" placeholder="One Piece, Naruto, FGO, ..." required name="search"></div>
        </form>
    </div>
</div>