<div class="text-center" data-aos="zoom-in">
    <i class="fa fa-lock" style="font-size: 34px;">
    </i>
    <p class="lead" style="margin-top: 10px;">Compte privé</p>
    <p style="margin-top: 10px;">Ce compte est privé. Abonnez-vous pour<br>voir le contenu. L'utilisateur devra alors accepter<br>votre demande d'abonnement.</p>
</div>