<ul class="nav nav-tabs nav-fill text-uppercase" role="tablist">
    <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" data-toggle="tab" href="#publications"><i class="fa fa-th"></i>  PUBLICATIONS</a></li>
    {% if profile.me == true %}
        <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-toggle="tab" href="#bookmark"><i class="fa fa-bookmark-o"></i>  ENREGISTREMENTS</a></li>
    {% endif %}
    <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-toggle="tab" href="#mark"><i class="fa fa-vcard-o"></i>  IDENTIFIÉ(E)</a></li>
</ul>