<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Wibuu - {% block title %}{% endblock %}</title>
        {{ include('src/css.html') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {{ include('src/js.html') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>